/assets/*

#for capistrano
/config/
Capfile
#---

/.idea

framework
/protected/runtime/
/protected/config/main.php
/protected/config/console.php
/protected/config/cron.php
/uploads
/dump
/media
/gallery
*~
/index.php
protected/yiic.php
protected/cron.php
/upload

